<header class="bg-yellow-50 border-b border-red-300 p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-red-500 font-bold text-xl">
            <a href="#" class="hover:text-red-600">MyStore</a>
        </div>

        <nav class="flex space-x-6">
            <a routerLink="/" class="text-gray-600 hover:text-red-500">Home</a>
            <a routerLink="/contact-page" class="text-gray-600 hover:text-red-500">Contact Page</a>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
