<article [ngClass]="discountHighlightedClass" class="border border-red-300 p-4 rounded-lg shadow-lg min-h-full">
    <!-- Discount Badge -->
    <div class="relative">
    <!--     <div class="discount-badge absolute top-0 left-0 bg-red-400 text-white text-sm rounded-full px-4 py-2 max-w-screen-2xl"> -->
    <!--         {{ goodsItem.discount }} % off -->
    <!--     </div> -->
    <!-- </div> -->
    <!-- <div> -->
        <!-- Product Image -->
        <figure class="my-4 flex justify-center">
            <img
                [src]="goodsItem.imageUrl"
                alt="Kitchen appliance product"
                class="product-img w-40 h-40 object-cover rounded-lg"
            />
        </figure>
        <div>
            <!-- Price Section -->
            <section class="text-center mb-4">
                <p class="text-red-500 text-2xl font-bold">
                    {{ goodsItem.price | currency: 'EUR'}}
                </p>
                <!-- <p class="text-gray-400 line-through"> -->
                <!--     {{ goodsItem.price | currency: 'EUR'}} -->
                <!-- </p> -->
                <p class="text-gray-500">{{ goodsItem.seller }}</p>
            </section>

            <!-- Product Description -->
            <section class="text-center mb-4">
                <p class="text-gray-600 text-sm">{{ goodsItem.name | truncate: 30 }}</p>
                <!-- <p class="text-gray-600 text-sm">{{ goodsItem.discount > 50 ? goodsItem.name : (goodsItem.name | truncate: 30) }}</p> -->
            </section>
        </div>
    </div>

    <!-- Additional Info -->
    <section class="flex between items-center text-gray-500 text-sm border-t pt-2">
        <div *ngIf="goodsItem.shipping" class="flex-1 text-center">
            <p>{{ goodsItem.shipping }}</p>
        </div>
        <div *ngIf="goodsItem.condition" class="flex-1 text-center">
            <p>{{ goodsItem.condition }}</p>
        </div>
        <div *ngIf="timeRemaining" class="flex-1 text-center">
            <p class="min-h-[2rem] flex flex-col justify-center items-center w-[126px]">
                {{ timeRemaining }}
            </p>
        </div>
    </section>
</article>
